// подключаем шрфты
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    padding: 0;
    margin: 0 auto;
    // max-width: 1942px;
    box-sizing: border-box;

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.43;
color: #879cb0;
    
    background-color: #2c3e50;
}

//адаптивность изображениям
img {
    display: block;
    height: auto;
    max-width: 100%;
  }

.container {
    // max-width: 1110px; 
    margin: 0 auto;
}


/*___ Style for "BANNER" ___*/

.banner {
    position: relative;
color: #ffffff;
    background-color: #f70135;    
}
.banner .bg-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    
    background-position: center center;
    background-image: url(../img/bg_left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .bg-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%; 

    background-image: url(../img/bg_right.jpg);  
    background-position: center center;      
    background-repeat: no-repeat;      
    background-size: cover;   /* фон меняЕт масштаб при изм. рзмеров содержимого*/  
}

.banner h3 {
    padding-top: 311px;

font-family: "Raleway - Semi Bold", Arial, sans-serif;
font-size: 18px;
font-weight: 400;
}

.banner h1 {
font-family: "Montserrat", Arial, sans-serif;
font-size: 80px;
line-height: 79.97px;
letter-spacing: -0.8px;
}

.link-go {
    padding-top: 238px;
    margin-bottom: 45px;

font-family: "Raleway";
font-size: 16px;
font-weight: 700;
}

.down-arrow {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 0;
    border-top: 23px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


/*___ Style for "ABOUT" ___*/

.about h2 {
    padding-top: 81px;
    margin-bottom: 38px;

color: #ffffff;
font-family: "Montserrat";
font-size: 22px;
font-weight: 700;
line-height: 36px;
}

.about h2 span {
color: #ffce45;
}

.about h3 {
    padding-top: 33px;

color: #ffffff;
font-family: "Montserrat";
font-size: 18px;
font-weight: 400;
line-height: 25px;
}

.about p {
color: #879cb0;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 22px;
}

.about .Many-Varia svg,
.about .Full-Suppp svg {
    padding-top: 26px;
}

.about .On-Time svg,
.about .Retina-Rea svg {
    padding-top: 18px;
}


/*___ Style for "PROCESS" ___*/

.title_headline {
    padding-top: 90px;

color: #eff3f3;

font-family: "Montserrat";
font-size: 36px;

line-height: 70px;
letter-spacing: 0.36px;
}

.process .title_headline span {
color: #ffce45;
}

.title_content {
    padding: 30px 100px 16px;

color: #879cb0;

font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 25px; 
}

.design_wrapper {
    background-color: #ffce45;
    width: 200px;
    
border-radius: 2px;
}

.design_head {
    padding: 0 5px;

color: #ffffff;
font-family: "Montserrat";
font-size: 13px;
line-height: 36px;
letter-spacing: 0.33px;
text-align: center;
}

.design_title {
color: #ffffff;
font-family: "Montserrat";
font-size: 22px;
line-height: 36px;
}

.design_text {
color: #879cb0;
font-family: "Open Sans";
font-size: 14px;
line-height: 24px;
letter-spacing: 0.35px;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    position: absolute;
    z-index: 1000;
}


.photo_wrapper img {
    width: 346px;
    height: 346px;
    padding: 10px;
    
    border-radius: 50%;
 }

 .develop .photo_wrapper img {
    border: 8px solid #fd5f42;
    border-style: dotted; //пунктирная
 }

 .website .photo_wrapper img {
    border: 8px solid #49a0ae;
    border-style: dotted; //пунктирная
 }

 .graphic .photo_wrapper img {
    border: 8px solid #22c48a;
    border-style: dotted; //пунктирная
 }

 .design_photo {
    position: relative;
  }

 .design_photo .icon_image svg {  
    width: 176px;
    height: 176px;
    border-radius: 50%;
}

.design_photo .icon_image {
    position: absolute;
}

.develop .design_photo .icon_image,
.graphic .design_photo .icon_image {
    top: 88px;
    left: 0;
}

.website .design_photo .icon_image {
    top: 88px;
    right: 0;
}

.svg-line {
    position: relative;
    height: 90px;
}

.develop .svg-line svg {
     position: absolute;
     left: 50%;
     top: 0;
     vertical-align: top;
     margin-top: -145px;
     padding: 0;
 }

 .website .svg-line svg {
    position: absolute;
    left: 25%;
    top: 45px;
    vertical-align: top;
    margin-top: -150px;
    padding: 0;
}

.graphic .svg-line svg {
    position: absolute;
    left: 25%;
    top: 45px;
    vertical-align: top;
    margin-top: -190px;
    padding: 0;
}

.rocet-arrow {
    margin-bottom: 62px;
}

.image-browser {
    position: relative;
    overflow: hidden;
}

.image-browser_up {
    position: relative; 
    max-width: 680px;
    margin: auto;
    z-index: 10;
    transition: linear .5s;
    margin-bottom: 156px;
    min-height: 413px;
}

.image-browser_left-down {
    position: absolute;
    max-width: 680px;
    min-height: 413px;
    top: 156px;
    left: 0;
    z-index: 2;
    transition: linear .5s;
}

.image-browser_right-down {
    position: absolute;
    max-width: 680px;
    min-height: 413px;
    top: 156px;
    right: 0;
    z-index: 1;
    transition: linear .5s;
}

a, a:active, a:focus, a:active {
    text-decoration: none !important;
}
.image-browser_up:hover,
.image-browser_left-down:hover,
.image-browser_right-down:hover {
    z-index: 11;
    transform: scale(1.2);
}



/*___ Style for "WORK-WAY" ___*/


.work-way .title_headline span {
    color: #f70135;
}

.work-way {
    margin-bottom: 120px;
}

.step-title,
.step-contente {
    padding: 10px 60px;
}

.step-title span {
font-family: "Open Sans";
font-size: 72px;
font-weight: 700;
font-style: italic;
line-height: 30px;
letter-spacing: -1.8px;  
padding: 10px 60px;
}

.step-text {
font-family: "Montserrat";
font-size: 25px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.63px;
padding: 10px 20px;
}
.step1 .step-title{
    color: #f70135;
}

.step2 .step-title {
    color: #fdcd45;
}

.step3 .step-title {
    color: #08b250;
}

.step4 .step-title {
    color: #098ce5;
}

.step5 .step-title {
    color: #9a22cd;
}


.step-title {
    min-width: 240px;
 }

.step-contente {
    min-width: 300px;
 }

.rectangle {
    background-color: transparent;
    padding: 10px;
}

.step-mouse,
.step-browser {
    margin-left: 16px;
    margin-right: -16px;
}


/*___ Style for "FACTS" ___*/

.facts {
    background-color: #ffce45;
}


.facts .title_headline span {
    color: #f70135;
}

.facts .title_content  {
    color: #ffffff;
}

.stat__dig {
color: #ffffff;
font-family: "Montserrat";
font-size: 40px;
font-weight: 700;
line-height: 25px;
text-transform: uppercase;   
padding-top: 45px; 
}

.stat__txt {
color: #f0f0f0;
font-family: "Open Sans - Semibold";
font-size: 12px;
font-weight: 400;
line-height: 25px;
text-transform: uppercase;
letter-spacing: 0.3px;
margin-bottom: 45px;
}

.facts svg {
margin-bottom: 45px; 
}

.lines-of-code {
    background-color: #f70135;
}

.worldwide-clients {
    background-color: #2c3e50;
}

.completed-progects {
    background-color: #08b250;
}

.winning-awards {
    background-color: #098ce5;
}

.cups-of-coffee {
    background-color: #9a22cd;
}



/*___ Style for "TALENTED" ___*/

.talented {
    background-color: #ffce45;
    // color: #2c3e50;
}

.talented_list {
    margin: 0;
}

.list_left .row {
    padding-right: 35px;
}

.list_right .row {
    padding-left: 35px;
}

.talented .title_headline span {
    color: #f70135;
}

.talented .title_content  {
    color: #ffffff;
}


.card-title {
color: #2c3e50;
font-family: "Montserrat";
font-size: 16px;
font-weight: 700;
letter-spacing: 0.16px;    
}

.card-text span {
    color: #ff5c26;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.12px;
}

.card-text {
color: #879cb0;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
line-height: 20px;    
}

.fa {
color: #ffffff;
}

.talented .more-people .btn {
width: 150px;
height: 40px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
border-radius: 20px;
background-color: #f70135;   

color: #eff3f3;
font-family: "Montserrat";
font-size: 12px;
font-weight: 400;
line-height: 22px;
text-transform: uppercase;
letter-spacing: 0.3px;
}

.talented .more-people .btn:hover {
    background-color: #eff3f3;   
    color: #f70135;
}

.list_left {
    padding-top: 92px;
    margin-bottom: 80px;
}

.list_right {
    padding-top: 30px;
    margin-left: -2px;
    border-left: 4px solid #f70135;
}

.list_right .row_list,
.list_left .row_list {
    position: relative;
}

.arrow-circle_right {
    display: inline-flex;
    position: absolute;
    left: 0;
    margin-left: -8px;
    top: 20px;
}

.arrow-circle_left {
    display: inline-flex;
    position: absolute;
    right: 0;
    margin-right: -8px;
    top: 20px;
}
.circle {
    z-index: 10;
    width: 14px;
    height: 14px;
    border: 4px solid #2c3e50;
    border-radius: 50%;
    background-color: #ffce45;
}

.left-arrow {  
    margin-left: 16px;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 14px solid #ffffff;
}


.right-arrow {
    margin-right: 14px;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #ffffff;
}

/*___ Style for "AWESOME-WORKS" ___*/

.awesome-works {
    background-color: #ffce45;
}

.works_naw {
    padding-bottom: 72px;
}

.awesome-works .title_headline span {
    color: #f70135;
}

.awesome-works .title_content  {
    color: #ffffff;
}


//FILTER

.awesome-works_naw.nav-tabs {
    margin-bottom: 65px;
}

.nav-tabs {
    border-bottom: none;
}

.awesome-works li a.active {
    background-color: #f70135!important;
    color: #ffffff!important;
}

.awesome-works li a {
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    border: 1px solid #ffffff;

    display: block;
    padding: .5rem 1rem;
    background-color: #ffffff;
    color: #ffce45;
}

.awesome-works li a:hover {
    background-color: #f70135;
    color: #ffffff
}

.awesome-works .tab-content>.active {
    display: inline-flex;
    flex-wrap: wrap;
}

.awesome-works .tab-content .tab-pane {
    margin-bottom: 0;
}

.awesome-works_naw-load, 
.awesome-works .tab-content-load {
background-color: #f70135;
}
.awesome-works li a.nav-link-load {
    background-color: #ffce45;
    color: #ffffff;
}


// LOAD MORE

// .tab-content>.active {
//     display: inline-flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;
// }

/*___ Style for "PRICE" ___*/

.title_headline {
    padding-top: 90px;

color: #eff3f3;

font-family: "Montserrat";
font-size: 36px;

line-height: 70px;
letter-spacing: 0.36px;
}

.price .title_headline span {
color: #ffce45;
}











// @media (max-width: 425px)
// .banner {
//     padding-top: 50px;
// }



/* стили для экранов с размером как у MacBook Pro и больше */
@media only screen and (min-width: 1440px) {
     
 }

 /* стили для узких экранов */
@media only screen and (max-width: 320px) {
   
}

/* @media only screen and (max-width: 768px) 
.realiz_img img {
    margin: 0 auto;
    display: block;
} */

